body {
    font-family: 'Fira Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #1b1b1b;
    padding: 1%;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
    height: 3em;
    border-radius: 1em;
    background-color: rgb(255, 255, 255, 0.3);
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

nav a:hover {
    color: yellowgreen;
}

section {
    height: 25em;
    display: flex;
    justify-content: center;
}

.presentation {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 3%;
}

.presentation-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 0 3%;
    line-height: 150%;
}

.section_title {
    font-size: 3rem;
    text-align: start;
}

.section_subtitle {
    font-size: 1.5rem;
}

.profile_picture {
    height: 17em;
    border-radius: 100%;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.projects {
    display: flex;
    padding: 3%;
    justify-content: center;
}

.projects .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.cards_aligned {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2%;
    padding: 2%;
    width: 14em;
    height: 18em;
    border: 1px solid darkgray;
    border-radius: 1em;
    text-decoration: none;
    line-height: 120%;
    color: white;
}

.card h3 {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}


.card:nth-child(1) {
    background: url(../img/pokemon-1581774_1280.jpg);
    background-size: cover;
}

.card:nth-child(2) {
    background: url(../img/celestial.png);
    background-size: cover;
}

.card:nth-child(3) {
    background: url(../img/hacker-3655668_1280.jpg);
    background-size: cover;
}